
*{
    margin: 0px;
    padding: 0px;
}

body{

background-image: url(./abstract-circle-digital-cyber-security-vector-47284390.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.passwordBox{
    width: 350px;

    padding: 20px;
   background-color: rgb(60, 47, 252);
   box-shadow: 0px 0px  20px rgb(30, 0, 197);
}

.PassBoxIn{
    display: flex;
    
    
}
.PassBoxIn input{
flex-basis: 82%;
border: none;
padding: 5px;

}
.PassBoxIn button{
flex-basis: 18%;
padding-left: 10px;

}
.passLength{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;

}
.passLength input{
    width: 60px;
}
.passLength label{
    font-weight: bolder;
    

}
.btn{
    width: 100%;
    padding: 10px 0px;
    
    cursor: pointer;
}
@media screen and (max-width:365px) {
    .passwordBox{
        width: 300px;
    
        padding: 20px;
       background-color: rgb(60, 47, 252);
       box-shadow: 0px 0px  20px rgb(30, 0, 197);
    }
}

